/* =============================================================================
	Mobile style
   ========================================================================== */
@media screen and (max-device-width:480px) {
	.clearfix::before {
		margin: 0px 0px 0px 0px;
	}

	header img#siteLogo {
		width: 150px;
		height: 45px;
		float: bottom;
	}

	.whiteStripe, .clearfix h2 {
		margin: 5px 0px 0px 0px;
		font-size: 14px;
    	/*display: none;*/
	}

	#social {
    	display: none;
	}

	#searchForm #q{
		margin: 0px 0px 0px 0px;
		padding-right: 10px;
    	width: 60%;
	}

	#searchForm #searchSubmit{
    	width: 30%;
	}

    #mainMenu p{
    	display: none;
    }

    #page {
    	max-width: 100%;
    }

    .thumbBlock {
    	width: 33%;
    }

    li#tabVote {
    	padding-bottom: 20px;
    }
}